.main--container {
  padding: 37px;
}
.main--form {
  display: grid;
  grid-template: 40px 40px/1fr 1fr;
  grid-gap: 15px;
}
.form-input {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  color: #0d0d0d;
}
.main-form--submit-button {
  color: white;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: -0.1em;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  grid-column: 1/-1;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
